*.tlog
*.yml
*.db-wal
/.vscode
/build/CMakeFiles/4.0.0/CompilerIdCXX
/FeedFetcher/build
build/Release/ffmpeg.exe
build/Release/ffplay.exe
build/Release/ffprobe.exe
*.vsidx
/.vs/FeedFetcher/copilot-chat/bb6c98d2/sessions
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/4.0.0/CMakeCCompiler.cmake
build/CMakeFiles/4.0.0/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.0/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.0/CMakeSystem.cmake
build/CMakeFiles/4.0.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.0/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.0.0/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.0.0/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.0.0/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.0.0/VCTargetsPath.txt
build/CMakeFiles/4.0.0/VCTargetsPath.vcxproj
build/CMakeFiles/4.0.0/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/8a08e79e0c64726ded02cbaf858721f5/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/FeedFetcher_1.dir/Release/app_logic.obj
build/FeedFetcher_1.dir/Release/AudioAnalyzer.obj
build/FeedFetcher_1.dir/Release/CLoginDialog.obj
build/FeedFetcher_1.dir/Release/FeedDownloader.obj
build/FeedFetcher_1.dir/Release/main.obj
*.obj
vcpkg.json
*.vcxproj
*.code-workspace
*.filters
.vs/FeedFetcher/copilot-chat/bb6c98d2/sessions/98bb8d2f-e8bf-4c05-b42e-c560fe593fb7
.vs/FeedFetcher/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/FeedFetcher/FileContentIndex/80c82d7f-42a7-4b76-8a7a-8a6e63b5c67b.vsidx
.vs/FeedFetcher/FileContentIndex/e9714797-7a46-47a2-93ad-e8e6daf14167.vsidx
build/FeedFetcher_1.vcxproj
build/Release/Thumbs.db
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/ZERO_CHECK.vcxproj.filters
.vs/FeedFetcher/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/FeedFetcher/copilot-chat/bb6c98d2/sessions/98bb8d2f-e8bf-4c05-b42e-c560fe593fb7
*.vcxproj
